In [1]:
# Import Dependencies
import datetime
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from sqlalchemy import create_engine

## Extract Data

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
# Data source 1:
url = 'https://www.winemag.com/region/portugal/'
browser.visit(url)

In [5]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve all elements that contain wine information
results = soup.find_all('li', class_='review-item')
titles = soup.find_all('h3', class_='title')
ratings = soup.find_all('span', class_='rating')

# Iterate through the page
for title in titles:
    print(title.text)
for rating in ratings:
    print(rating.text)

Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)
Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)
Quinta do Vallado 2017 Reserva Field Blend Red (Douro)
Quinta do Vallado 2017 Reserva Field Blend Red (Douro)
Wine Drops 2017 Somnium Red (Douro)
Wine Drops 2017 Somnium Red (Douro)
Kompassus 2013 Private Collection Baga (Bairrada)
Kompassus 2013 Private Collection Baga (Bairrada)
Christie's 2018 Grande Reserva Red (Douro)
Christie's 2018 Grande Reserva Red (Douro)
Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)
Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)
Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)
Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)
Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)
Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)
Ribafreixo 2016 Gáudio Reserva Red (Alentejo)
Ribafreixo 2016 Gáudio Reserva Red (Alentejo)
Kompassus 2015 Private Collection White (Bairrada)
Kompassus 2015 Private Collection White (Bairrada)
Pormenor Vinhos 2016 Trilho em Pormenor Red (Douro)
Pormenor Vinhos 2016 Trilho em Pormenor Red (Douro)
Cortes de Cima 2015 Incógnito Syrah (Alentejano)
Cortes de Cima 2015 Incógnito Syrah (Alentejano)
Ribafreixo 2018 Heredade do Moinho Branco Antão Vaz (Alentejo)
Ribafreixo 2018 Heredade do Moinho Branco Antão Vaz (Alentejo)
Kompassus 2016 Kompassus Vinhas Velhas Reserva Baga (Bairrada)
Kompassus 2016 Kompassus Vinhas Velhas Reserva Baga (Bairrada)
Quinta do Vallado 2017 Vallado Tinta Roriz (Douro)
Quinta do Vallado 2017 Vallado Tinta Roriz (Douro)
Vila Vilacetinho 2018 Reserva Avesso (Vinho Verde)
Vila Vilacetinho 2018 Reserva Avesso (Vinho Verde)
Pormenor Vinhos 2015 Trilho em Pormenor Red (Douro)
Pormenor Vinhos 2015 Trilho em Pormenor Red (Douro)
Kompassus 2017 Branco Reserva White (Bairrada)
Kompassus 2017 Branco Reserva White (Bairrada)
Santos & Seixo 2017 Duquesa Maria Private Selection Red (Alentejano)
Santos & Seixo 2017 Duquesa Maria Private Selection Red (Alentejano)
Quinta da Lagoalva de Cima 2017 Grande Reserva Syrah (Tejo)
Quinta da Lagoalva de Cima 2017 Grande Reserva Syrah (Tejo)
97 Points
94 Points
94 Points
93 Points
93 Points
93 Points
93 Points
93 Points
93 Points
93 Points
92 Points
92 Points
92 Points
92 Points
92 Points
92 Points
92 Points
91 Points
91 Points
91 Points

In [6]:
# Create a list
wine_review = []

for result in results:
    
    # Use Beautiful Soup's find() method to navigate and retrieve attributes
    titles = result.find('h3', class_='title')
    ratings = result.find('span', class_='rating')
   
    # Insert information in Dictionary
    wine = {
        'titles':titles.text,
        'ratings':ratings.text
     }
    wine_review.append(wine)
    print(wine_review)

[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}, {'titles': 'Ribafreixo 2016 Gáudio Reserva Red (Alentejo)', 'ratings': '93 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}, {'titles': 'Ribafreixo 2016 Gáudio Reserva Red (Alentejo)', 'ratings': '93 Points'}, {'titles': 'Kompassus 2015 Private Collection White (Bairrada)', 'ratings': '93 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}, {'titles': 'Ribafreixo 2016 Gáudio Reserva Red (Alentejo)', 'ratings': '93 Points'}, {'titles': 'Kompassus 2015 Private Collection White (Bairrada)', 'ratings': '93 Points'}, {'titles': 'Pormenor Vinhos 2016 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}, {'titles': 'Ribafreixo 2016 Gáudio Reserva Red (Alentejo)', 'ratings': '93 Points'}, {'titles': 'Kompassus 2015 Private Collection White (Bairrada)', 'ratings': '93 Points'}, {'titles': 'Pormenor Vinhos 2016 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}, {'titles': 'Cortes de Cima 2015 Incógnito Syrah (Alentejano)', 'ratings': '92 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}, {'titles': 'Ribafreixo 2016 Gáudio Reserva Red (Alentejo)', 'ratings': '93 Points'}, {'titles': 'Kompassus 2015 Private Collection White (Bairrada)', 'ratings': '93 Points'}, {'titles': 'Pormenor Vinhos 2016 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}, {'titles': 'Cortes de Cima 2015 Incógnito Syrah (Alentejano)', 'ratings': '92 Points'}, {'titles': 'Ribafreixo 2018 Heredade do Moinho Branco Antão Vaz (Alentejo)', 'ratings': '92 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}, {'titles': 'Ribafreixo 2016 Gáudio Reserva Red (Alentejo)', 'ratings': '93 Points'}, {'titles': 'Kompassus 2015 Private Collection White (Bairrada)', 'ratings': '93 Points'}, {'titles': 'Pormenor Vinhos 2016 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}, {'titles': 'Cortes de Cima 2015 Incógnito Syrah (Alentejano)', 'ratings': '92 Points'}, {'titles': 'Ribafreixo 2018 Heredade do Moinho Branco Antão Vaz (Alentejo)', 'ratings': '92 Points'}, {'titles': 'Kompassus 2016 Kompassus Vinhas Velhas Reserva Baga (Bairrada)', 'ratings': '92 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}, {'titles': 'Ribafreixo 2016 Gáudio Reserva Red (Alentejo)', 'ratings': '93 Points'}, {'titles': 'Kompassus 2015 Private Collection White (Bairrada)', 'ratings': '93 Points'}, {'titles': 'Pormenor Vinhos 2016 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}, {'titles': 'Cortes de Cima 2015 Incógnito Syrah (Alentejano)', 'ratings': '92 Points'}, {'titles': 'Ribafreixo 2018 Heredade do Moinho Branco Antão Vaz (Alentejo)', 'ratings': '92 Points'}, {'titles': 'Kompassus 2016 Kompassus Vinhas Velhas Reserva Baga (Bairrada)', 'ratings': '92 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Tinta Roriz (Douro)', 'ratings': '92 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}, {'titles': 'Ribafreixo 2016 Gáudio Reserva Red (Alentejo)', 'ratings': '93 Points'}, {'titles': 'Kompassus 2015 Private Collection White (Bairrada)', 'ratings': '93 Points'}, {'titles': 'Pormenor Vinhos 2016 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}, {'titles': 'Cortes de Cima 2015 Incógnito Syrah (Alentejano)', 'ratings': '92 Points'}, {'titles': 'Ribafreixo 2018 Heredade do Moinho Branco Antão Vaz (Alentejo)', 'ratings': '92 Points'}, {'titles': 'Kompassus 2016 Kompassus Vinhas Velhas Reserva Baga (Bairrada)', 'ratings': '92 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Tinta Roriz (Douro)', 'ratings': '92 Points'}, {'titles': 'Vila Vilacetinho 2018 Reserva Avesso (Vinho Verde)', 'ratings': '92 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}, {'titles': 'Ribafreixo 2016 Gáudio Reserva Red (Alentejo)', 'ratings': '93 Points'}, {'titles': 'Kompassus 2015 Private Collection White (Bairrada)', 'ratings': '93 Points'}, {'titles': 'Pormenor Vinhos 2016 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}, {'titles': 'Cortes de Cima 2015 Incógnito Syrah (Alentejano)', 'ratings': '92 Points'}, {'titles': 'Ribafreixo 2018 Heredade do Moinho Branco Antão Vaz (Alentejo)', 'ratings': '92 Points'}, {'titles': 'Kompassus 2016 Kompassus Vinhas Velhas Reserva Baga (Bairrada)', 'ratings': '92 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Tinta Roriz (Douro)', 'ratings': '92 Points'}, {'titles': 'Vila Vilacetinho 2018 Reserva Avesso (Vinho Verde)', 'ratings': '92 Points'}, {'titles': 'Pormenor Vinhos 2015 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}, {'titles': 'Ribafreixo 2016 Gáudio Reserva Red (Alentejo)', 'ratings': '93 Points'}, {'titles': 'Kompassus 2015 Private Collection White (Bairrada)', 'ratings': '93 Points'}, {'titles': 'Pormenor Vinhos 2016 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}, {'titles': 'Cortes de Cima 2015 Incógnito Syrah (Alentejano)', 'ratings': '92 Points'}, {'titles': 'Ribafreixo 2018 Heredade do Moinho Branco Antão Vaz (Alentejo)', 'ratings': '92 Points'}, {'titles': 'Kompassus 2016 Kompassus Vinhas Velhas Reserva Baga (Bairrada)', 'ratings': '92 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Tinta Roriz (Douro)', 'ratings': '92 Points'}, {'titles': 'Vila Vilacetinho 2018 Reserva Avesso (Vinho Verde)', 'ratings': '92 Points'}, {'titles': 'Pormenor Vinhos 2015 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}, {'titles': 'Kompassus 2017 Branco Reserva White (Bairrada)', 'ratings': '91 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}, {'titles': 'Ribafreixo 2016 Gáudio Reserva Red (Alentejo)', 'ratings': '93 Points'}, {'titles': 'Kompassus 2015 Private Collection White (Bairrada)', 'ratings': '93 Points'}, {'titles': 'Pormenor Vinhos 2016 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}, {'titles': 'Cortes de Cima 2015 Incógnito Syrah (Alentejano)', 'ratings': '92 Points'}, {'titles': 'Ribafreixo 2018 Heredade do Moinho Branco Antão Vaz (Alentejo)', 'ratings': '92 Points'}, {'titles': 'Kompassus 2016 Kompassus Vinhas Velhas Reserva Baga (Bairrada)', 'ratings': '92 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Tinta Roriz (Douro)', 'ratings': '92 Points'}, {'titles': 'Vila Vilacetinho 2018 Reserva Avesso (Vinho Verde)', 'ratings': '92 Points'}, {'titles': 'Pormenor Vinhos 2015 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}, {'titles': 'Kompassus 2017 Branco Reserva White (Bairrada)', 'ratings': '91 Points'}, {'titles': 'Santos & Seixo 2017 Duquesa Maria Private Selection Red (Alentejano)', 'ratings': '91 Points'}]
[{'titles': 'Quinta do Vallado 2017 Vallado Vinha da Granja Red (Douro)', 'ratings': '97 Points'}, {'titles': 'Quinta do Vallado 2017 Reserva Field Blend Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Wine Drops 2017 Somnium Red (Douro)', 'ratings': '94 Points'}, {'titles': 'Kompassus 2013 Private Collection Baga (Bairrada)', 'ratings': '93 Points'}, {'titles': "Christie's 2018 Grande Reserva Red (Douro)", 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Touriga Nacional (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Vinha da Coroa Red (Douro)', 'ratings': '93 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Dona Isabel Juliana Red (Tejo)', 'ratings': '93 Points'}, {'titles': 'Ribafreixo 2016 Gáudio Reserva Red (Alentejo)', 'ratings': '93 Points'}, {'titles': 'Kompassus 2015 Private Collection White (Bairrada)', 'ratings': '93 Points'}, {'titles': 'Pormenor Vinhos 2016 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}, {'titles': 'Cortes de Cima 2015 Incógnito Syrah (Alentejano)', 'ratings': '92 Points'}, {'titles': 'Ribafreixo 2018 Heredade do Moinho Branco Antão Vaz (Alentejo)', 'ratings': '92 Points'}, {'titles': 'Kompassus 2016 Kompassus Vinhas Velhas Reserva Baga (Bairrada)', 'ratings': '92 Points'}, {'titles': 'Quinta do Vallado 2017 Vallado Tinta Roriz (Douro)', 'ratings': '92 Points'}, {'titles': 'Vila Vilacetinho 2018 Reserva Avesso (Vinho Verde)', 'ratings': '92 Points'}, {'titles': 'Pormenor Vinhos 2015 Trilho em Pormenor Red (Douro)', 'ratings': '92 Points'}, {'titles': 'Kompassus 2017 Branco Reserva White (Bairrada)', 'ratings': '91 Points'}, {'titles': 'Santos & Seixo 2017 Duquesa Maria Private Selection Red (Alentejano)', 'ratings': '91 Points'}, {'titles': 'Quinta da Lagoalva de Cima 2017 Grande Reserva Syrah (Tejo)', 'ratings': '91 Points'}]

In [7]:
# Create a DataFrame using a list of dictionaries
df = pd.DataFrame([ 
    {'titles': 'Quinta das Carvalhas 2017 Carvalhas Vinhas Velhas Red (Douro)', 'ratings': '95 Points'},
    {'titles': 'Quinta da Romaneira 2017 Reserva Red (Douro)', 'ratings': '95 Points'},
    {'titles': 'Quinta da Romaneira 2017 Reserva Red (Douro)', 'ratings': '95 Points'},
    {'titles': 'Herdade do Esporão 2014 Esporão Private Selection Red (Alentejo)', 'ratings': '94 Points'},
    {'titles': 'Quinta do Portal 2016 Grande Reserva Red (Douro)', 'ratings': '94 Points'},
    {'titles': 'C. da Silva 1995 Dalva Distinctive Colheita  (Port)', 'ratings': '94 Points'},
    {'titles': 'Quinta de Ventozelo 2014 Essência Red (Douro)', 'ratings': '94 Points'},
    {'titles': 'Herdade do Rocim 2017 Olho de Mocho Reserva Single Vineyard Red (Alentejano)', 'ratings': '94 Points'},
    {'titles': 'Quinta da Rede 2015 Grande Reserva Red (Douro)', 'ratings': '94 Points'}, 
    {'titles': 'Falua 2017 Conde Vimioso Reserva Red (Tejo)', 'ratings': '93 Points'},
    {'titles': 'C. da Silva 1990 Presidential Colheita  (Port)', 'ratings': '93 Points'},
    {'titles': 'Seacampo 2015 Homenagem Américo Red (Dão)', 'ratings': '93 Points'},
    {'titles': 'C. da Silva 1989 Dalva Golden White  (Port)', 'ratings': '93 Points'},
    {'titles': 'Quinta do Portal 2017 Reserva Red (Douro)', 'ratings': '93 Points'},
    {'titles': 'Quevedo 2016 Q Grande Reserva Red (Douro)', 'ratings': '93 Points'},
    {'titles': 'Quinta do Sagrado 2016 Sagrado Reserva Red (Douro)', 'ratings': '93 Points'},
    {'titles': 'Terre Silvestre 2016 Grande Reserva Red (Tejo)', 'ratings': '93 Points'},
    {'titles': 'Quinta de Ventozelo 2016 Blend Red (Douro)', 'ratings': '93 Points'},
    {'titles': 'Quinta de Ventozelo 2016 Blend Red (Douro)', 'ratings': '93 Points'},
    {'titles': 'Herdade do Rocim 2016 Grande Rocim Arinto (Alentejo)', 'ratings': '93 Points'}
    ])
df

                                               titles    ratings
0   Quinta das Carvalhas 2017 Carvalhas Vinhas Vel...  95 Points
1        Quinta da Romaneira 2017 Reserva Red (Douro)  95 Points
2        Quinta da Romaneira 2017 Reserva Red (Douro)  95 Points
3   Herdade do Esporão 2014 Esporão Private Select...  94 Points
4    Quinta do Portal 2016 Grande Reserva Red (Douro)  94 Points
5   C. da Silva 1995 Dalva Distinctive Colheita  (...  94 Points
6       Quinta de Ventozelo 2014 Essência Red (Douro)  94 Points
7   Herdade do Rocim 2017 Olho de Mocho Reserva Si...  94 Points
8      Quinta da Rede 2015 Grande Reserva Red (Douro)  94 Points
9         Falua 2017 Conde Vimioso Reserva Red (Tejo)  93 Points
10     C. da Silva 1990 Presidential Colheita  (Port)  93 Points
11          Seacampo 2015 Homenagem Américo Red (Dão)  93 Points
12        C. da Silva 1989 Dalva Golden White  (Port)  93 Points
13          Quinta do Portal 2017 Reserva Red (Douro)  93 Points
14          Quevedo 2016 Q Grande Reserva Red (Douro)  93 Points
15  Quinta do Sagrado 2016 Sagrado Reserva Red (Do...  93 Points
16     Terre Silvestre 2016 Grande Reserva Red (Tejo)  93 Points
17         Quinta de Ventozelo 2016 Blend Red (Douro)  93 Points
18         Quinta de Ventozelo 2016 Blend Red (Douro)  93 Points
19  Herdade do Rocim 2016 Grande Rocim Arinto (Ale...  93 Points

In [8]:
df.columns

Index(['titles', 'ratings'], dtype='object')

In [9]:
# Rename columns
wine = df.rename(columns={'titles':'Wine_Bio',
                               'ratings':'Ratings'})
wine.head()

                                            Wine_Bio    Ratings
0  Quinta das Carvalhas 2017 Carvalhas Vinhas Vel...  95 Points
1       Quinta da Romaneira 2017 Reserva Red (Douro)  95 Points
2       Quinta da Romaneira 2017 Reserva Red (Douro)  95 Points
3  Herdade do Esporão 2014 Esporão Private Select...  94 Points
4   Quinta do Portal 2016 Grande Reserva Red (Douro)  94 Points

In [10]:
# Reset index
wine.set_index('Wine_Bio', inplace=True)

print("Total records: ", wine['Ratings'].count())
wine.head()
wine.head()

Total records:  20

                                                      Ratings
Wine_Bio
Quinta das Carvalhas 2017 Carvalhas Vinhas Velh...  95 Points
Quinta da Romaneira 2017 Reserva Red (Douro)        95 Points
Quinta da Romaneira 2017 Reserva Red (Douro)        95 Points
Herdade do Esporão 2014 Esporão Private Selecti...  94 Points
Quinta do Portal 2016 Grande Reserva Red (Douro)    94 Points

In [11]:
# From wine, create seperate table, to normalize the database

# For Wines
wine_df = wine.groupby(['Wine_Bio']).count()
wine_df.reset_index(inplace=True)

In [12]:
wine_dt = wine_df[['Wine_Bio']]
wine_dt.reset_index(inplace=True)
wine_dt  = wine_dt.rename(columns={'index':'Wine_Bio_id'})
print("Total records: ", wine_dt['Wine_Bio_id'].count())

Total records:  18

In [13]:
# Two dataframes
wine_dt.head()
wine_db = wine_dt.copy()
wine_db = wine_db.set_index("Wine_Bio")
wine_db.head()

                                                    Wine_Bio_id
Wine_Bio
C. da Silva 1989 Dalva Golden White  (Port)                   0
C. da Silva 1990 Presidential Colheita  (Port)                1
C. da Silva 1995 Dalva Distinctive Colheita  (P...            2
Falua 2017 Conde Vimioso Reserva Red (Tejo)                   3
Herdade do Esporão 2014 Esporão Private Selecti...            4

In [14]:
# Data source 2:
wine_file = "Resources/wine.csv"
df_wine = pd.read_csv(wine_file)

print("Total records ", df_wine['winery'].count())
df_wine.head()

Total records  129971

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [15]:
# Only keep required columns and rename them, change US to United States and fill region with a value to allow aggregate function later
columns = ['Unnamed: 0','country','province','region_1','title','variety','winery','points','price']
wine_db = df_wine[columns].copy()

wine_db = wine_db.rename(columns={'Unnamed: 0':'Wine_id',
                                            'country': 'Country',
                                            'province': 'Province',
                                            'region_1':'Region_name',
                                            'title':'Wine',
                                            'variety':'Wine_type',
                                            'winery':'Winery',
                                            'points':'Rating',
                                            'price':'Price',
                                            'description':'Description',
                                            'designation': 'Designation'})

wine_db = wine_db.replace(to_replace='US', value='United States')
wine_db['Region_name'].fillna("No region", inplace = True)
wine_db.head()

,Wine_id,Country,Province,Region_name,Wine,Wine_type,Winery,Rating,Price
0,0,Italy,Sicily & Sardinia,Etna,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,87,NaN
1,1,Portugal,Douro,No region,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,87,15.0
2,2,United States,Oregon,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,14.0
3,3,United States,Michigan,Lake Michigan Shore,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,13.0
4,4,United States,Oregon,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,65.0

In [16]:
# Drop any records that have null values in any of their column fields
wine_db = wine_db.dropna(how='any')

print("After dropping null values: ") 
print(wine_db.count())

After dropping null values:
Wine_id        120915
Country        120915
Province       120915
Region_name    120915
Wine           120915
Wine_type      120915
Winery         120915
Rating         120915
Price          120915
dtype: int64

In [17]:
# Group wine_data and calculate average price and rating per unique wine in the database)
wine_data = wine_db.groupby(['Wine_id' ,
                                     'Country', 
                                     'Province', 
                                     'Region_name',
                                     'Wine',
                                     'Wine_type',
                                     'Winery'], as_index=False)['Rating','Price'].mean().copy()

wine_data.reset_index(inplace=True)
print("Total records ", wine_data['Country'].count())
wine_data.head()

/Users/dameducharme/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

Total records  120915

,index,Wine_id,Country,Province,Region_name,Wine,Wine_type,Winery,Rating,Price
0,0,1,Portugal,Douro,No region,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,87,15.0
1,1,2,United States,Oregon,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,14.0
2,2,3,United States,Michigan,Lake Michigan Shore,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,13.0
3,3,4,United States,Oregon,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,65.0
4,4,5,Spain,Northern Spain,Navarra,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem,87,15.0

In [18]:
# Data source 3: extract country information from countries.csv - source: wikipedia
    
country_file = "Resources/countries.csv"
country_df = pd.read_csv(country_file)
country_df.head()

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

In [19]:
country_df.reset_index(inplace=True)
country_df  = country_df.rename(columns={'index':'Country_id',
                                            'country':'Abbrev.',
                                            'name': 'Country',
                                            'latitude': 'Lat',
                                            'longitude': 'Long'})
country_df  = country_df.dropna(how='any')
print("Total records: ", country_df ['Country_id'].count())
      
country_df.head()

Total records:  243

   Country_id Abbrev.        Lat       Long               Country
0           0      AD  42.546245   1.601554               Andorra
1           1      AE  23.424076  53.847818  United Arab Emirates
2           2      AF  33.939110  67.709953           Afghanistan
3           3      AG  17.060816 -61.796428   Antigua and Barbuda
4           4      AI  18.220554 -63.068615              Anguilla

In [20]:
# Data source 4: Directly load the temperatures by country table of the internet - source: Wikipedia
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature'
tables = pd.read_html(url)

df_temps = pd.DataFrame(tables[0])

# Rename columns
df_temps = df_temps.rename(columns={'Country':'Country_Name','Average yearly temperature (1961–1990, degrees Celsius)':'Avg_Temp'})

 # Reset index 
df_temps = df_temps.set_index('Country_Name')

print("Total records: ", df_temps['Avg_Temp'].count())
df_temps.head()

Total records:  191

             Avg_Temp
Country_Name
Burkina Faso    28.25
Mali            28.25
Kiribati        28.20
Djibouti        28.00
Tuvalu          28.00

In [21]:
# Data source 5: Directly load the temperatures by country table of the internet - source: www.currentresults.com
state_temp_file = "Resources/state_temps.csv"
df_state = pd.read_csv(state_temp_file)
df_state.head()

df_state = df_state.rename(columns={'Avg °F':'Avg_F',
                                    'Avg °C': 'Avg_C'})

print("Total records: ", df_state.State.count())

state_temp = df_state.set_index('State').copy()
state_temp.head()

Total records:  50

            Avg_F  Avg_C
State
Alabama      62.8   17.1
Alaska       26.6   -3.0
Arizona      60.3   15.7
Arkansas     60.4   15.8
California   59.4   15.2

## Transform Data

In [22]:
# Add Temperature to country_df when found
country_df['Temperature'] = ""
list_temp = []

for index, row in country_df.iterrows():
    try:
        list_temp = df_temps.loc[str(row[4]),'Avg_Temp']
        country_df.iloc[index, 5] = list_temp
    except:
        pass
country_df.head()

# Two dataframes 
country_db = country_df.copy()
country_db = country_df.set_index("Country")
country_db.head()

                      Country_id Abbrev.        Lat       Long Temperature
Country
Andorra                        0      AD  42.546245   1.601554       07.60
United Arab Emirates           1      AE  23.424076  53.847818       27.00
Afghanistan                    2      AF  33.939110  67.709953       12.60
Antigua and Barbuda            3      AG  17.060816 -61.796428       26.00
Anguilla                       4      AI  18.220554 -63.068615

In [23]:
# From wine_db, create seperate table, to normalize the database

# For the Wineries
df_winery = wine_db.groupby(['Winery']).count()
df_winery.reset_index(inplace=True)

In [24]:
winery_data = df_winery[['Winery']]
winery_data.reset_index(inplace=True)
winery_data  = winery_data.rename(columns={'index':'Winery_id'})
print("Total records: ", winery_data['Winery_id'].count())

Total records:  15843

In [25]:
# Two dataframes
winery_data.head()
winery_db = winery_data.copy()
winery_db = winery_db.set_index("Winery")
winery_db.head()

                  Winery_id
Winery
1+1=3                     0
10 Knots                  1
100 Percent Wine          2
1000 Stories              3
1070 Green                4

In [26]:
# For the Provinces
province_df = wine_db.groupby(['Province']).count()
province_df.reset_index(inplace=True)

In [27]:
province_data = province_df[['Province']]
province_data.reset_index(inplace=True)
province_data = province_data.rename(columns={'index':'Province_id',
                                              })
print("Total records: ", province_data['Province_id'].count())

Total records:  422

In [28]:
# Two dataframes 
province_data.head()
province_db = province_data.copy()
province_db = province_db.set_index("Province")
province_db.head()

                  Province_id
Province
Achaia                      0
Aconcagua Costa             1
Aconcagua Valley            2
Aegean                      3
Agioritikos                 4

In [29]:
state_temp.head()

            Avg_F  Avg_C
State
Alabama      62.8   17.1
Alaska       26.6   -3.0
Arizona      60.3   15.7
Arkansas     60.4   15.8
California   59.4   15.2

In [30]:
# Add Temperature to province_data when found
province_data['Avg_F'] = ""
province_data['Avg_C'] = ""
temp_C = []
temp_F = []

for index, row in province_data.iterrows():
    try:
        temp_F = state_temp.loc[str(row[1]),'Avg_F']
        province_data.iloc[index, 2] = temp_F
      #print(row)
        temp_C = state_temp.loc[str(row[1]),'Avg_C']
        province_data.iloc[index, 3] = temp_C
    except:
        pass

province_data.loc[province_data['Province'] == 'Georgia']

     Province_id Province Avg_F Avg_C
133          133  Georgia  63.5  17.5

In [31]:
# For the Regions
region_df = wine_db.groupby(['Region_name']).count()
region_df.reset_index(inplace=True)

In [32]:
region_data = region_df[['Region_name']]
region_data.reset_index(inplace=True)
region_data = region_data.rename(columns={'index':'Region_id'})
print("Total records: ", region_data['Region_id'].count())

Total records:  1205

In [33]:
# Two dataframes
region_data.head()
region_db = region_data.copy()
region_db = region_db.set_index("Region_name")
region_db.head()

                   Region_id
Region_name
Abruzzo                    0
Adelaida District          1
Adelaide                   2
Adelaide Hills             3
Adelaide Plains            4

In [34]:
# For the Wine_type
wine_type_df = wine_db.groupby(['Wine_type']).count()
wine_type_df.reset_index(inplace=True)

In [35]:
wine_type_data = wine_db[['Wine_type']]
wine_type_data.reset_index(inplace=True)
wine_type_data  = wine_type_data.rename(columns={'index':'Wine_Type_id'})
print("Total records: ", wine_type_data['Wine_Type_id'].count())

Total records:  120915

In [36]:
wine_type_data.head()

   Wine_Type_id           Wine_type
0             1      Portuguese Red
1             2          Pinot Gris
2             3            Riesling
3             4          Pinot Noir
4             5  Tempranillo-Merlot

In [ ]:
# Replace all name strings in wine_data with their correlating 
print("Start time: ", datetime.datetime.now().time())
limit = 3

wine_data = wine_data.merge(country_df, on='Country', how='inner')
wine_data = wine_data.merge(province_data, on='Province', how='inner')
wine_data = wine_data.merge(region_data, on='Region_name', how='inner')
wine_data = wine_data.merge(winery_data, on='Winery', how='inner')
wine_data = wine_data.merge(wine_type_data, on='Wine_type', how='inner')
# wine_data = wine_data.merge(wine_type_data, on='Wines', how='inner')
    
print("Finish time: ", datetime.datetime.now().time())
wine_data.head()

In [ ]:
wine_data.count()

## Load DATA

In [ ]:
# Create connection
connection = "postgres:postgres@localhost:5432/Wine_db"
engine = create_engine(f'postgresql://{connection}')

In [ ]:
#Load all 5 dataframes into their respective tables
country_df.to_sql(name='Countries', con=engine, if_exists='append', index=False)
province_data.to_sql(name='Provinces', con=engine, if_exists='append', index=False)
region_data.to_sql(name='Regions', con=engine, if_exists='append', index=False)
winery_data.to_sql(name='Wineries', con=engine, if_exists='append', index=False)
wine_type_data.to_sql(name='Wine_types', con=engine, if_exists='append', index=False)
df_wine_.to_sql(name='Wines', con=engine, if_exists='append', index=False)

In [ ]:
query_str = open('SQL_Files/test_query.sql')
query_text = ""
for text in query_str:
    query_text = query_text + text
      
print(query_text)
df_query = pd.read_sql_query(query_text, con=engine)

df_query